:root {
  --el-color-primary: #9945FF !important;
  --el-menu-active-color: #9945FF !important;
  --el-color-primary-light-3: rgba(153, 69, 255, 0.6) !important;
  --el-color-primary-dark-2: rgba(153, 69, 255, 0.6) !important;
  --el-color-primary-light-9: rgba(18, 18, 18, 0.25) !important;
  .el-menu--horizontal {
    --el-menu-horizontal-height: 75px;
    --el-menu-item-height: 75px
  };
}